<div>
    <div class="text-center">
        <img class="worldmap" src="assets/worldmap.svg">
    </div>
    <div class="container">
    <form [formGroup]="geoDataForm" novalidate>
        <div class="form-group">
        <div class="form-row input-group py-1 pl-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Center of radius</span>
                </div>
                <input class="form-control" type="text" placeholder="Longitude" formControlName="centerLongitude" id="centerLongitude" required>
                <input class="form-control" placeholder="Latitude" type="text" formControlName="centerLatitude" required>
                <div *ngIf="centerLongitude.invalid && (centerLongitude.dirty || centerLongitude.touched)" class="error">
                    <small *ngIf="centerLongitude.errors.required">
                        Center longitude is required.
                    </small>
                    <small *ngIf="centerLongitude.errors.min || centerLongitude.errors.max">
                        Longitude has to be in range of [-180; 180].
                    </small>
                    <small *ngIf="centerLongitude.errors.pattern">
                        Longitude has to be numeric.
                    </small>
                </div>
                <div *ngIf="centerLatitude.invalid && (centerLatitude.dirty || centerLatitude.touched)" class="error">
                    <small *ngIf="centerLatitude.errors.required">
                        Center latitude is required.
                    </small>
                    <small *ngIf="centerLatitude.errors.min || centerLatitude.errors.max">
                        Latitude has to be in range of [-90; 90].
                    </small>
                    <small *ngIf="centerLatitude.errors.pattern">
                        Latitude has to be numeric.
                    </small>
                </div>
        </div>

        <div class="form-row input-group py-1 pl-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Border of radius</span>
                </div>

                <input class="form-control" placeholder="Longitude" type="text" formControlName="borderLongitude" required>
                <input class="form-control" placeholder="Latitude" type="text" formControlName="borderLatitude" required>

                <div *ngIf="borderLongitude.invalid && (borderLongitude.dirty || borderLongitude.touched)" class="error">
                    <small *ngIf="borderLongitude.errors.required">
                        Center longitude is required.
                    </small>
                    <small *ngIf="borderLongitude.errors.min || borderLongitude.errors.max">
                        Longitude has to be in range of [-180; 180].
                    </small>
                    <small *ngIf="borderLongitude.errors.pattern">
                        Longitude has to be numeric.
                    </small>
                </div>
                <div *ngIf="borderLatitude.invalid && (borderLatitude.dirty || borderLatitude.touched)" class="error">
                    <small *ngIf="borderLatitude.errors.required">
                        Center latitude is required.
                    </small>
                    <small *ngIf="borderLatitude.errors.min || borderLatitude.errors.max">
                        Latitude has to be in range of [-90; 90].
                    </small>
                    <small *ngIf="borderLatitude.errors.pattern">
                        Latitude has to be numeric.
                    </small>
                </div>
        </div>
        
        <div class="form-row p-1">
            <div class="col input-group px-0">
                <div class="input-group-prepend">
                    <span class="input-group-text">Locations
                        <i 
                            tabindex="0"
                            class="bi bi-info-circle ml-1" 
                            data-toggle="popover"
                            data-trigger="focus"
                            title="File description"
                            data-content="Application processes csv files with Longitude and Latitude headers given as decimal values. File should use comma as separator. Sample file can be found on Github repository: https://github.com/SebastianBienert/GeoSearch"
                        >
                        </i>
                    </span>
                </div>
                <div class="custom-file">
                    <input class="custom-file-input" type="file" ng2FileSelect [uploader]="uploader" id="inputGroupFile01"/>
                    <label class="custom-file-label" for="inputGroupFile01">{{currentFileItem ? currentFileItem.file?.name : 'Choose file'}}</label>
                </div>
            </div>
            <div class="col">
                <div ng2FileDrop
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader"
                    class="well my-drop-zone text-center align-middle">
                        <i class="bi bi-cloud-arrow-up px-2"></i>Drop file
                </div>
            </div>
        </div>
        <div *ngIf="currentFileItem" class="form-row p-1">
            <div class="progress mr-1">
                <div [ngClass]="{'progress-bar-animated': currentFileItem.progress < 100}" class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': currentFileItem.progress + '%' }">
                    {{currentFileItem.progress + '%'}}
                </div>
            </div>
        </div>
        <div class="form-row p-1 justify-content-md-center">
            <button
                type="button" 
                class="btn btn-primary btn-xs mx-2"
                (click)="upload(currentFileItem)" 
                [disabled]="!geoDataForm.valid || !currentFileItem || currentFileItem.isReady || currentFileItem.isUploading || currentFileItem.isSuccess"
            >
                Search
            </button>
            <button
                type="button" 
                class="btn btn-warning btn-xs mx-2"
                (click)="cancel(currentFileItem)" 
                [disabled]="!currentFileItem || !currentFileItem.isUploading"
            >
                Cancel
            </button>
        </div>
        <div class="form-row p-1 alert alert-light">
            Number of locations in the radius: {{countResult}}
        </div>
    </div>
    </form>
    
    <div *ngIf="currentFileItem" class="form-row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th *ngIf="uploader.isHTML5">Size</th>
                    <th>Status</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td>{{ item?.file?.name }}</td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <span class="text-success" *ngIf="item.isSuccess"><i class="bi bi-check mx-2"></i>FINISHED</span>
                        <span class="text-muted" *ngIf="item.isCancel"><i class="bi bi-stop mx-2"></i>CANCELED</span>
                        <span class="text-danger" *ngIf="item.isError"><i class="bi bi-exclamation-circle mx-2"></i>ERROR</span>
                    </td>
                    <td>{{item.isSuccess ? item.headers.result : ''}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    </div>
</div>